.recipe-block {
    border: solid black 2px;
}

.recipe-block:hover{
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

img {
    width: 100%;
}

.recipe-content{
    padding: 10px;
    text-align: center;
}